
hostname {{ name }}

feature isis
feature interface-vlan
feature lacp
feature vpc
feature lldp
feature bfd

username admin password 5 $5$L2urM.Xe$y/KDoFgiQGkoIc9gzWZa3gYKzhEEasJfDT0PAAmKym

bfd echo-interface loopback0
bfd startup-timer 20

key chain ISIS_KEY
  key 1
    key-string 7 072015797d253827

router isis ISIS_UNDERLAY
 net 49.{{ isis_area }}.000{{ dc_id }}.000{{ row }}.000{{ id }}.00
 is-type level-2
 passive-interface default level-1-2
 address-family ipv4 unicast
  bfd

interface loopback{{ loopback.id }}
  ip address {{ loopback.ip }}/32
  ip router isis ISIS_UNDERLAY

line console
  exec-timeout 0

{% for intf in interfaces %}
interface Ethernet{{ intf.local_intf }}
  description *** UPLINK_{{ intf.spine_id }}_ETH_{{ intf.spine_itf }} ***
  no switchport
  mtu 1500
  bfd interval 50 min_rx 50 multiplier 3
  bfd authentication Keyed-SHA1 key-id 1 hex-key 636973636F313233
  no ip redirects
  no ipv6 redirects
  medium p2p
  ip unnumbered loopback {{ loopback.id }}
  ip router isis ISIS_UNDERLAY
  isis network point-to-point
  isis circuit-type level-2
  no isis passive-interface level-2
  isis authentication-type md5
  isis authentication key-chain ISIS_KEY
  no shutdown
{% endfor %}