
hostname {{ name }}

feature bgp
feature interface-vlan
feature lacp
feature vpc
feature lldp
feature bfd

username {{ user }} password {{ passwd }}

errdisable recovery cause all
errdisable detect cause all
errdisable recovery interval 30

ip prefix-list PL_LO seq 5 permit 172.17.255.0/24 ge 32
ip prefix-list PL_LO seq 10 permit 172.17.254.0/24 ge 32

ip prefix-list PL_ANY permit 0.0.0.0/0 le 32

route-map RM_LO permit 10
  match ip address prefix-list PL_LO

route-map RM_OUT permit 10
  match ip address prefix-list PL_ANY

route-map RM_IN permit 10
  match ip address prefix-list PL_ANY


router bgp 65{{dc_id}}{{row}}{{id}}
address-family ipv4 unicast
maximum-paths 4
maximum-paths ibgp 4
redistribute direct route-map RM_LO
  template peer SPINE
    bfd
    password cisco123
    timers 3 9
    address-family ipv4 unicast
      send-community both
      soft-reconfiguration inbound
      route-map RM_OUT out
      route-map RM_IN in
{% for intf in interfaces %}
  neighbor {{ intf.bgp_peer }}
    inherit peer SPINE
    remote-as 6460{{ row }}
    description PEERING_{{ intf.spine_id }}
    ebgp-multihop 4
{% endfor %}

{% for lo in loopback %}
interface loopback{{ lo.id }}
  description ** {{ lo.desc }} **
  ip address {{ lo.ip }}/32
{% endfor %}

line console
  exec-timeout 0

{% for intf in interfaces %}
interface Ethernet{{ intf.local_intf }}
  description *** UPLINK_{{ intf.spine_id }}_ETH_{{ intf.spine_itf }} ***
  no switchport
  ip address {{ intf.ip }}
  mtu 1500
  no ip redirects
  no ipv6 redirects
  no shutdown
{% endfor %}