
hostname {{ name }}

feature isis
feature bgp
feature interface-vlan
feature lacp
feature vpc
feature lldp
feature bfd

username {{ user }} password {{ passwd }}


ip prefix-list PL_LO seq 5 permit 172.17.255.0/24 ge 32
ip prefix-list PL_LO seq 10 permit 172.17.254.0/24 ge 32

ip prefix-list PL_ANY seq 5 permit 0.0.0.0/0 le 32

route-map RM_LO permit 10
  match ip address prefix-list PL_LO

route-map RM_OUT permit 10
  match ip address prefix-list PL_ANY

route-map RM_IN permit 10
  match ip address prefix-list PL_ANY

router bgp 6460{{ row }}
address-family ipv4 unicast
maximum-paths 4
redistribute direct route-map RM_LO
  template peer LEAF
    bfd
    password cisco123
    timers 3 9
    address-family ipv4 unicast
      send-community both
      soft-reconfiguration inbound
      route-map RM_OUT out
      route-map RM_IN in
  template peer SPINE
    bfd
    password cisco123
    update-source Ethernet1/7 
    timers 3 9
    address-family ipv4 unicast
      send-community both
      soft-reconfiguration inbound
      route-map RM_OUT out
      route-map RM_IN in
{% for intf in interfaces %}
{% set lo_leaf = intf.remote_id.split('_')[1].replace('-', '') %}
  {% if intf.net_type == 'multiaccess' %}
  {% for peer in intf.bgp_peers %}
  neighbor {{ peer.neighbor }}
    inherit peer SPINE
    remote-as 6460{{peer.as_id}}
    description PEERING_{{ peer.name }}
    ebgp-multihop 4
{% endfor %}
{% else %}
  neighbor {{ intf.bgp_peer }}
    inherit peer LEAF
    remote-as 65{{dc_id}}{{row}}{{intf.leaf_id}}
    description PEERING_{{ intf.remote_id }}
    ebgp-multihop 4
{% endif %}
{% endfor %}

{% for lo in loopback %}
interface loopback{{ lo.id }}
  description ** {{ lo.desc }} **
  ip address {{ lo.ip }}/32
{% endfor %}

line console
  exec-timeout 0

{% for intf in interfaces %}
interface Ethernet{{ intf.local_intf }}
  description *** DOWNLINK_{{ intf.remote_id }}_ETH_{{ intf.remote_intf }} ***
  no switchport
  ip address {{ intf.ip }}
  mtu 1500
  no ip redirects
  no ipv6 redirects
  no shutdown
{% endfor %}